global
    cpu-policy performance
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 500000
	nbthread 16
#    tune.bufsize 262144

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 15s
    timeout client  60s
    timeout server  600s

backend grafana
    balance roundrobin
	backlog 500000
        option http-keep-alive
        timeout http-keep-alive 300s
	option http-no-delay
        http-reuse aggressive
    option httpchk
    server grafana1 10.160.4.172:80 check minconn 512 maxconn 4096
    server grafana2 10.160.4.147:80 check minconn 512 maxconn 4096
    server grafana3 10.160.4.186:80 check minconn 512 maxconn 4096

frontend ssl
    mode http
#	backlog 40000
	balance roundrobin
	option http-keep-alive
	timeout http-keep-alive 300s
	option http-no-delay
	http-reuse aggressive
    bind :8194 ssl crt /etc/haproxy/test.pem tfo backlog 40000
    http-request set-header Host %[req.hdr(host)]
    http-request set-header Y-Proxy-Server-Some Yaaaaaaaaaaaaaaa
    http-request set-header Y-Proxy-Server-From Aralez
    http-request set-header Y-Proxy-Server-Vers Aralezv98
    acl is_websocket hdr(Upgrade) -i WebSocket
    http-request set-header Connection "upgrade" if is_websocket
    use_backend grafana if { hdr(host) -i test.dom.bar:8193 } or { hdr(host) -i test.foo.bar:8193 } or { hdr(host) -i test.yoop.jpo:8193 or  hdr(host) -i test.dom.bar:8194 } or { hdr(host) -i test.foo.bar:8194 } or { hdr(host) -i test.yoop.jpo:8194 }
#    use_backend grafana

frontend http_8193
    bind *:8193 tfo backlog 40000
    mode http
    balance roundrobin
	option http-keep-alive
	timeout http-keep-alive 300s
	option http-no-delay
	http-reuse aggressive
    http-request set-header Host %[req.hdr(host)]
    http-request set-header Y-Proxy-Server-Some Yaaaaaaaaaaaaaaa
    http-request set-header Y-Proxy-Server-From Aralez
    http-request set-header Y-Proxy-Server-Vers Aralezv98
    # WebSocket support (map $http_upgrade equivalent)
    acl is_websocket hdr(Upgrade) -i WebSocket
    http-request set-header Connection "upgrade" if is_websocket
    use_backend grafana if { hdr(host) -i test.dom.bar:8193 } or { hdr(host) -i test.foo.bar:8193 } or { hdr(host) -i test.yoop.jpo:8193 or  hdr(host) -i test.dom.bar:8194 } or { hdr(host) -i test.foo.bar:8194 } or { hdr(host) -i test.yoop.jpo:8194 }
#    use_backend grafana

listen stats
  bind 0.0.0.0:9999
  mode http
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /haproxy?stats
  stats auth admin:admin
